@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "~bootstrap/scss/bootstrap";

body{

    background-color: black;
//     overflow-x: hidden; 
  // overflow-y: hidden;
}
main{
   background-color: black;
     font-family: "SN Pro", sans-serif;
}

.HomePathSec{
    z-index: 10;

    .row{
        display: flex;
        justify-content: center;
        text-align: center;
        color: white;
        h1{
            color: white;
            font-size: 5em;
            font-weight: 800;
            text-transform: uppercase;
        }
    }
}
.FeaturesPath{


}
